.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap:25px
}

.footeeer-top{

    display: flex;
    justify-content: space-between;
}

.footeeer-top-left{

    font-size: 20px;
    font-weight: 500;


}

.footeeer-top-right{


    display: flex;
    align-items: center;
    gap: 34px;
}


.footer-email-input{
    display: flex;
    gap: 25px;
    padding: 20px 30px;
    border-radius: 50px;
    padding-right: 80px;
    background: #32323B;
}


.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    font-family: Outfit;
    font-size: 20px;
    color: #a0a0a0;
}


.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(270deg,#e08b0c -5.02%, #B415FF 100%);
    cursor: pointer;
    transition: 0.2s;


}
.footer-bottom{
    display: flex;
    
    justify-content: space-between;
    font-size: 20px;
}

.footer-bottom-right{

    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-email-input:hover{
    border: 2px solid white;
}

.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.2s;
}